{% extends '::base.html.twig' %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">menu-1</a></li>
                <li><a href="#">menu-2</a></li>
                <li><a href="#">menu-3</a></li>
                <li><a href="#">menu-4</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">menu-1</a></li>
                <li><a href="#">menu-2</a></li>
                <li><a href="#">menu-3</a></li>
                <li><a href="#">menu-4</a></li>
            </ul>
        </div>
    </nav>
    <div id="contenedor" class="container">

        <div class="row">
            <div class="col s12 m6">
                {% block article %}{% endblock %}
            </div>
        </div>

        <aside>
            {% block aside %}{% endblock %}
        </aside>

        <footer>
            {# ... #}
        </footer>
    </div>
{% endblock %}

